<html>

<body>
    <select onchange="check()" id="advisory section">
        <option value="NULL">None</option>
        <option value="P1">Relox</option>
        <option value="P2">Rian</option>
        <option value="P3">Rolex</option>
        <option value="P4">Roller</option>
        </select>
        <select id="handle section">
            <option value="P1">P1</option>
            <option value="P2">P2</option>
            <option value="P3">P3</option>
            <option value="P4">P4</option>
        </select>
        <input type = "checkbox" value = "box" name = "checkbox1"/>
        <input type = "checkbox" value = "box" name = "checkbox2"/>
        <input type = "checkbox" value = "box" name = "checkbox3"/>






<script>
    function check(){
  if(document.getElementById('advisory section').value =="NULL")
    document.getElementById('handle section').disabled=false;
  else
    document.getElementById('handle section').disabled=true;
}
</script>
</body>

</html>
